{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="671DFC03B959E91643B7D7567E37E46A" />
    <meta name="google-site-verification" content="SfOIuzL9bJTnG1s15n1tw8mrW8WlYZXf4LA0cdqffuM" />
    <meta name="description" content="Sign in to Peacock TV easily via PeacockTV.com/tv. Follow our simple step-by-step guide to activate your device, enter your code, and enjoy your favorite shows, movies, and live sports today." />
    <meta name="keywords" content="PeacockTV.com/tv, Peacock TV sign in, Peacock activation, Peacock device activation, Peacock streaming login" />
    <meta name="robots" content="index, follow" />
    <title>How to Sign In to Peacock TV at PeacockTV.com/tv – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
